---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/astro/PostCard.astro";

let posts = await Astro.glob("./*.md");
---

<Layout title="Blog | Jackson Oppenheim">
  <div class="grid gap-6 p-8 md:grid-cols-2 md:p-16 lg:grid-cols-3">
    {
      posts.map((post) => (
        <div>
          <PostCard
            img={post.frontmatter.image}
            path={post.url}
            summary={post.frontmatter.summary}
            title={post.frontmatter.title}
            published={post.frontmatter.date.published}
          />
        </div>
      ))
    }
  </div>
</Layout>
