---
import Button from "../svelte/Button.svelte";
import { Icon } from "astro-icon/components";
import CldImage from "./CldImage.astro";
interface Props {
  img: {
    path: string;
    alt: string;
    credit: string;
  };
  title: string;
  summary: string;
  path?: string;
  published?: string;
}

const { img, title, summary, path, published } = Astro.props;
---

<div
  class="flex max-w-none flex-col items-center gap-2 md:items-start md:gap-4 lg:max-w-sm"
>
  <a
    href={path}
    class="mt-3 text-2xl font-semibold text-primary-900 md:min-h-[4rem] lg:my-[0.5em]"
  >
    {title}
  </a>
  <figure class="flex flex-col items-center gap-2">
    <CldImage
      class="rounded-lg"
      src={img.path}
      alt={img.alt}
      width={384}
      height={288}
      fit="fill"
      gravity="face:center"
    />
    <figcaption
      class="prose relative -top-10 w-fit max-w-[90%] rounded bg-white p-2 text-sm shadow-lg lg:-top-5"
    >
      <p class="mb-2">Published: {published}</p>
      <p class="mt-0 text-xs" set:html={img.credit} />
    </figcaption>
  </figure>

  <p class="prose">{summary}</p>

  <!-- <div
    class="bg-dark-200 p-2 rounded w-fit text-sm prose"
    set:html={img.credit}
  /> -->
  <Button link href={path}>
    <div class="flex gap-2">Read more <Icon name="ph:arrow-right-bold" /></div>
  </Button>
</div>

<style>
  [astro-icon] {
    @apply h-6;
  }
</style>
