---
import Layout from "./Layout.astro";
import { Picture } from "@astrojs/image/components";

const { frontmatter } = Astro.props;
// const heroSide = frontmatter.heroSide;
const { heroSide, title, summary, image } = frontmatter;
---

<Layout title={frontmatter.title}>
  <!-- Hero Section -->
  <section
    id="hero"
    aria-labelledby="hero-title"
    class="relative grid w-full max-w-none grid-cols-1 justify-center text-white"
    class:list={[
      {
        "lg:grid-cols-[2fr_1fr]": heroSide === "left",
        "lg:grid-cols-[1fr_2fr]": heroSide === "right",
      },
    ]}
  >
    <!-- Image -->
    <div class="relative col-span-2">
      <div
        class="absolute flex h-full w-full items-end justify-end bg-dark-900/60"
      >
        <p
          class="prose prose-invert w-fit max-w-none rounded-lg p-2 text-sm shadow-md"
          set:html={image.credit}
        />
      </div>
      <Picture
        src={image.path}
        alt={image.alt}
        widths={[200, 400, 800, 1200]}
        sizes="100%"
        aspectRatio="16:8"
        fit="cover"
        background="aliceblue"
      />
    </div>
    <!-- Content -->
    <div
      class="absolute col-span-1 py-8 px-10 md:py-16 md:px-20"
      class:list={heroSide === "right" ? "col-start-2" : "col-start-1"}
    >
      <h1 class="mb-3 text-3xl font-bold text-white md:text-5xl xl:text-7xl">
        {title}
      </h1>
      <p class="font-light leading-7 tracking-wide text-slate-200">{summary}</p>
    </div>
  </section>
  <!-- Article -->
  <article
    class="prose mx-auto max-w-lg py-16 px-8 prose-headings:text-primary-900 prose-blockquote:border-accent-500 md:max-w-xl md:px-0 lg:max-w-2xl xl:max-w-4xl"
  >
    <slot />
  </article>
</Layout>

<style></style>
